[submodule "themes/kayal"]
	path = themes/kayal
	url = https://github.com/mnjm/kayal.git
	branch = main
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
